
    {%  include 'includes/navi.html'%}
</div>
<h3 style="text-align: center;">Produtos</h3>

<div class="container">
<form action="" method="GET">
    <label for="">Buscar:<input type="text" name="buscar" class="form-control" placeholder="Buscar"></label>
    <input type="submit" class="btn btn-success" value="buscar">

</form>


<div style="clear:both"></div>
<br>
<h3>Todos as Vendas</h3>
<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>Cod</th>
            <th>Valor Total</th>
            <th>Ações</th>
        </tr>
       {% for dbs in db %}
        <tr>
            <td>{{ dbs.id}}</td>
            <td>{{ dbs.total}}</td>
            <td>
                 <a href="/detalhesvedas/{{ dbs.id}}" class="btn btn-success">Detalhes da venda</a>
                <a href="/deleteProd/{{ dbs.id}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
       {% endfor %}


    </table>
</div>






</div>


</body>
</html>