
{%  include 'includes/navi.html'%}
<div class="container">
    <div class="col-8 m-auto pt-2 pb-2">
        <h1>Cadastrar usuario</h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2">
    </div>
    {%  include 'includes/_alertas.html'%}
    <form action="{% url 'insertuser' %}" method="POST">

         {% csrf_token %}

        Login:<input type="text"  class="form-control" name="name" value="{{ request.POST.name }}"><br/>
        Email:<input type="text"  class="form-control" name="email" value="{{ request.POST.email }}"><br/>
        Password:<input type="text"  class="form-control" name="senhaum" ><br/>
        Repetir password:<input type="text"  class="form-control" name="senhadois"><br/>
        <input type="submit" value="enviar" class="btn btn-success">
     </form>
    </div>
</body>
</html>