
{%  include 'includes/navi.html'%}
<div class="container">
    {%  include 'includes/_alertas.html'%}
</div>
<h3 style="text-align: center;">Carrinho de compras</h3>

<div class="container">

<form action="" method="GET">
    <label for="">Buscar:<input type="text" name="buscar" class="form-control" placeholder="Buscar"></label>
    <input type="submit" class="btn btn-success" value="buscar">

</form>
    {% for dbs in db %}
<div class="col-md-4 my-5" style="margin-top:30px;">
    <form method="POST" action="/addcart/" >
            {% csrf_token %}
    <div style="border:1px solid #333; background-color:#f1f1f1;border-radius:5px; padding:10px;">
    <img src="{{ dbs.image }}" alt="" width="200px">
    </div>
    <h4 class="text-info"></h4>
    <h4 class="text-infor">{{ dbs.name }}</h4>
    <h4 class="text-danger">{{ dbs.price }}</h4>
    <input type="text" name="quantidade" class="form-control" value="1">
    <input type="hidden" name="item"   value="{{ dbs.name }}">
    <input type="hidden" name="valor"  value="{{ dbs.price }}">
    <input type="hidden" name="usuario"  value="9">
    <input type="submit"   class="btn btn-success"  value="Adicionar ao Carrinho">
    </form>
</div>
    {% endfor %}

{%  include 'includes/carrinho.html'%}

</div>






</div>


</body>
</html>