{%  include 'includes/navi.html'%}
   {%  include 'includes/_alertas.html'%}
<div class="container">
    <div class="col-8 m-auto pt-2 pb-2">
        <h1>Login</h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2">

    </div>
    <form action="/logar/" method="POST">
        {% csrf_token %}
        Email:<input type="text"  class="form-control" name="email"><br/>
        Senha:<input type="text"  class="form-control" name="senha"><br/>

        <input type="submit" value="enviar">
     </form>
    </div>
</body>
</html>